*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
  
}
#nav{
   position: fixed;
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 2px;
    background-color: #CDFADB;
   
   
    
    
}
#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    
}
#intro{
    height: 50%;
    width: 100%;
    background-color: bique;
    padding: 55px 60px ;
    
}
#intro h1{
    font-size: 130px;
    line-height: 120px;
    letter-spacing: -3px;
}
#place{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#place h3,#place h4{
    font-size: 25px;
    font-weight: 600;

}
img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: aquamarine;
    
  
}
#about{
    height: 45%;
    width: 100%;
;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
   
}
#about h2{
    background-color:re;
    width: 70.5%;
    font-size:70px;
    line-height: 83px;
    font-weight: 600px;
    letter-spacing: -3px;
}
#about-part2{
    width: 25%;
  
    height: 100%;
    border-left: 2px solid black;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 33px;
    font-weight: 600;

}


#icons i{
    background-color: black;
    color: white;
    padding:7px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 10px;
    padding-bottom: 10px;
}
#work{
    height:75%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
  
}
#work1{
    width: 35%;
   
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    
}
#work2{
    width: 65%;
   height: 100%;
   padding: 0 60px;

    
}
#work1 h3{
    font-size: 33px;
}
#work1 i{
    font-size: 30px;
}
.aa{
  
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 50px 0;
}
.aa:nth-child(1){
   padding-top: 0;
    border-bottom: 2px solid black;
}
.aa .elem{
    width: 50%;
    height: 100%;
}
.aa .elem:nth-child(1){
    border-right: 2px solid black;

}
.aa .elem:nth-child(2){
   padding-left: 60px;
}
.aa .elem h4{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aa .elem p{
    font-size: 20px;
    font-weight: 500;
}